@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: 35, 35, 35;
  --main-color: 237, 237, 237;
  --secondary-color: 160, 160, 160;
  --third-color: 112, 112, 122;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--main-color));
  background: rgb(var(--background-primary));
  font-size: 14px;
}

button {
  font-size: 14px;
}

